{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
<h1 class="h3 mb-3"><strong>Dashboard</strong></h1>
{% include 'partials/messages.html' %}
<div class="row" id="card-row">
    <div class="col">
        <div class="card flex-fill w-100 rounded-lg shadow-sm mb-3">
            <div class="card-header bg-transparent">
                <h5 class="card-title text-center mb-0">Current Value</h5>
            </div>
            <div class="card-body py-3 flex-fill">
                <div class="row align-items-center mb-2 text-center">
                    <div class="col-12">
                        <h3>{{cur_value}} {% autoescape off %} {{currency.symbol}} {% endautoescape %}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card flex-fill w-100 rounded-lg shadow-sm mb-3">
            <div class="card-header bg-transparent">
                <h5 class="card-title text-center mb-0">Portfolio Value</h5>
            </div>
            <div class="card-body py-3 flex-fill">
                <div class="row align-items-center mb-2 text-center">
                    <div class="col-12">
                        <h3>{{total_value}} {% autoescape off %} {{currency.symbol}} {% endautoescape %}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card flex-fill w-100 rounded-lg shadow-sm mb-3">
            <div class="card-header bg-transparent">
                <h5 class="card-title text-center mb-0">Gain/Loss</h5>
            </div>
            <div class="card-body py-3 flex-fill">
                <div class="row align-items-center mb-2 text-center">
                    <div class="col-12">
                        <h3 id="gain-loss">{{gain_loss}} {% autoescape off %} {{currency.symbol}} {% endautoescape %} ({{gain_loss_prc}} %)</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card flex-fill w-100 rounded-lg shadow-sm mb-3">
            <div class="card-header bg-transparent">
                <h5 class="card-title text-center mb-0">Companies in Portfolio</h5>
            </div>
            <div class="card-body py-3 flex-fill">
                <div class="row align-items-center mb-2 text-center">
                    <div class="col-12">
                        <h3>{{total_amount}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-eq-height">
    <div class="col-md-6">
        <div class="card w-100 rounded-lg shadow-sm mb-3">
            <div class="card-header bg-transparent">
                <h5 class="card-title mb-0">Total Portfolio Value in time ({% autoescape off %}{{currency.symbol}}{% endautoescape %})</h5>
            </div>
            <div class="card-body py-3">
                <canvas class="chart chart-sm" id="performance" max-width="400" max-height="400"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card w-100 rounded-lg shadow-sm mb-3">
            <div class="card-header bg-transparent">
                <h5 class="card-title mb-0">Portfolio Holdings ({% autoescape off %}{{currency.symbol}}{% endautoescape %})</h5>
            </div>
            <div class="card-body py-3">
                <canvas class="chart" id="valueBySymbol" max-width="400" max-height="400"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3 px-3">
    <div class="card flex-fill rounded-lg shadow-sm">
        <div class="card-header bg-transparent align-items-center">
            <div class="d-flex flex-row">
                <div class="p-0 align-self-center">
                    <h5 class="card-title mb-0 h5">Companies in portfolio</h5>
                </div>
                <div class="pl-3">
                    {% if companies == "exceed" %}
                        <button disabled href="{% url 'add_stock' %}" class="btn btn-outline-primary rounded-sm">Add Company</button>
                    {% else %}
                        <a href="{% url 'add_stock' %}" class="btn btn-outline-primary rounded-sm">Add Company</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="table-responsive bg-white my-0 rounded-sm">
            <table class="table">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Name</th>
                        <th>Current Price</th>
                        <th>Avg. Price</th>
                        <th>Current Value</th>
                        <th>Total Value</th>
                        <th>Shares</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                    <tr>
                        <td class="symbol">{{stock.symbol}}</td>
                        <td class="name">{{stock.name}}</td>
                        <td class="cur_price">{{stock.price|mul:rate|floatformat:2}} {% autoescape off %} {{currency.symbol}} {% endautoescape %}</td>
                        <td class="avg_price">{{stock.avg_price}} {% autoescape off %} {{currency.symbol}} {% endautoescape %}</td>
                        <td class="cur_value">{{stock.cur_value}} {% autoescape off %} {{currency.symbol}} {% endautoescape %}</td>
                        <td class="total_value">{{stock.total_value}} {% autoescape off %} {{currency.symbol}} {% endautoescape %}</td>
                        <td class="amount">{{stock.total_amount}}</td>
                        <td><a href="{% url 'detail_stock' stock.id %}" class="bi bi-info-circle"></a></td>
                        <td><a href="{% url 'delete_stock' stock.id %}" class="bi bi-trash"></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div class="col-xl-6 col-xxl-7">
        <div class="card rounded-lg shadow-sm">
            <div class="card-header bg-transparent">
                <h5 class="card-title text-center mb-0">Allocation - Sector (value)</h5>
            </div>
            <div class="card-body py-3">
                <canvas class="chart chart-sm" id="valueBySector" max-width="400" max-height="400"></canvas>
            </div>
        </div>
    </div> -->
</div>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock content %}