<footer class="mt-auto">
    <div class="border-top p-3 shadow-sm bg-light text-center">
        <ul class="nav justify-content-center border-bottom pb-2 mb-3">
            <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-dark">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-dark">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-dark">Contact</a></li>
          </ul>
          <p class="text-center text-dark">&copy; 2022 Jakub &Scaron;k&aacute;p&iacute;k</p>
    </div>
</footer>
