{% extends 'base.html' %}
{% block content %}
<h1 class="h3"><strong>Edit Transaction</strong></h1>
<div class="row py-3">
    <div class="col">
        <div class="card rounded-lg">
            <div class="card-body">
                <form action="{% url 'edit_transaction' transaction.id %}" method="post">
                    {% include 'partials/messages.html' %}
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="Symbol">Symbol</label>
                        <select class="form-control form-control-sm rounded-sm" name="symbol">
                            <option selected value="{{transaction.symbol}}">{{transaction.symbol}}</option>
                            {% for stock in user_stocks %}
                                <option name="symbol" value="{{stock.symbol}}">{{stock.symbol}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Share price">Share price</label>
                        <input type="number" class="form-control form-control-sm rounded-sm" name="share_price" step=".01" value="{{transaction.cost_share}}">
                    </div>
                    <div class="form-group">
                        <label for="Amount">Amount</label>
                        <input type="number" class="form-control form-control-sm rounded-sm" name="amount" step=".01" value="{{transaction.shares}}">
                    </div>
                    <div class="form-group">
                        <label for="Fee">Fee Amount</label>
                        <input type="number" class="form-control form-control-sm rounded-sm" name="fee_amount" placeholder="0.00" step=".01" value="{{transaction.fee_amount}}">
                    </div>
                    <div class="form-group">
                        <label for="Broker">Broker</label>
                        <select class="form-control form-control-sm rounded-sm" name="broker">
                            <option selected value="{{transaction.broker}}">{{transaction.broker}}</option>
                            <!--TODO: remove duplicate option -->
                            {% for broker in brokers %}
                                <option name="broker" value="{{broker.name}}">{{broker.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Date of Transaction">Date</label>
                        <input type="date" class="form-control form-control-sm rounded-sm" name="transaction_date" value="{{transaction.date |date:'Y-m-d'}}">
                    </div>
                    <input type="submit" value="Submit" class="btn btn-outline-primary btn-primary-sm rounded-sm">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}